.productsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}
.productCard {
    min-width: 200px;
    flex: 0 1 calc(25% - 10px);
    border: 1px solid rgba(204, 204, 204, 0.72);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.price {
    font-weight: bold;
}

.categoryName {
    font-weight: bold;
}


.title {
    text-align: left;
}
.addToCard {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}
